
/* Estilos generales del menú */
nav {
    background-color: #4E49EB
}

.menu {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block; /* Muestra los elementos en línea */
}

.menu a {
    display: block;
    padding: 14px 20px; /* Espaciado alrededor del texto */
    color: white;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    text-align: center;
    background-color: #4E49EB; /* Color de fondo */
}

.menu a:hover {
    background-color: #575757; /* Color de fondo al pasar el ratón */